{% extends 'general.html' %}
{% load static %}
{% block styles %}
<link href="{% static "main/css/style.css" %}" rel="stylesheet">
{% endblock %}
{% block content %}
    <div class="banner-area relative">
        <div class="container">
            <div class="bg-image" style="background-image: url('https://images-s3.yogainternational.com/cdn-cgi/image/width=1600,quality=70,format=auto/assets/content/articles/ZID_1442_1920x1080.png')" class="w-100">
                <div class="overlay hero-overlay-bg">
                        <div class="row height align-items-center justify-content-center">
                            <div class="col-lg-7">
                                <div class="banner-content text-center">
                                    <h1 class="text-uppercase text-white"><span><h2>MIKROWYCIECZKI</h2></span> <br> Chcesz wiedzieć więcej?</h1>
                                    <p class="text-white p-2 mb-10">
                                    Ta strona należy do nas Mikrowycieczkowiczów. Bedziemy kolekcjonować tutaj wszystkie wspomnienia z naszych wypraw.</p>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>





{% endblock %}