
{% extends 'general.html' %}
{% load static %}
{% block styles %}
<link href="{% static "main/css/style.css" %}" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="container">
        <div class="overlay hero-overlay-bg">
                <div class="row height align-items-center justify-content-center">
                        <div class="banner-content text-center">
                                {% for post in post_list %}
                                    <p></p>
                                    <div class="col-md-9 mx-auto ">
                                      <div class="bg-white bg-opacity-50 row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"><div class="col-auto d-none d-lg-block">
{#                                          <img src="{% static 'main/img/OIP.jpg' %} " height="240" width="240" >#}
                                            <img src="{{ post.example_file.url }}" height="240" width="240">
                                      </div>
                                          <div class="col p-4 d-flex flex-column position-static">
                                          <strong class="d-inline-block mb-4">Łukasz</strong>
                                          <h3 class="mb-0">{{post.title}}</h3>
                                          <div class="mb-1 text-muted">14 Sierpnia</div>
                                          <p class="mb-auto">Wycieczka w okolice modlina do starego PGR. Było tak o koty zawracały na rondzie, a potem szły spowrotem</p>
                                          <a href="{% url 'posts:post_details' post.id %}" class="stretched-link">Czytaj dalej</a>
                                        </div>

                                      </div>
                                    </div>
                                {% endfor %}
                        </div>
                    </div>

        </div>
    </div>







{% endblock %}
