{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    <link href="{% static "main/css/style.css" %}" rel="stylesheet">
    {% block styles %} {% endblock %}
</head>
<body>
<div class="bg-image" style="background-image: url('{% static 'main/img/bg.jpg'%}'); height: 100vh; background-attachment: fixed" >


<div class="container ">
    <header class="d-flex flex-wrap justify-content-center py-2 mb-0 border-bottom">

      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
          <div class="ps-4">
            <img src="{% static 'main/img/logo.png' %} " height="42" width="103" >
          </div>
      </a>

      <ul class="nav nav-pills ">
          <li class="nav-item"><a href ="{% url 'registration:register' %}" class="nav-link"> Zaloguj</a></li>
          <li class="nav-item"><a href ="#" class="nav-link"> O Nas</a></li>
          <li class="nav-item"><a href ="{% url 'galleries:list' %}" class="nav-link"> Galeria</a></li>
          <li class="nav-item"><a href ="{% url 'posts:posts' %}" class="nav-link"> Lista wycieczek</a></li>

      </ul>
    </header>

  </div>


{%  block content %}
{% endblock %}
</div>
<div class="container">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div class="col-md-4 d-flex align-items-center">
      <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
        <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"/></svg>
      </a>
      <span class="text-muted">&copy; 2021-2022 Lukasz Nekres, Inc</span>
    </div>

  </footer>
</div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

</body>
</html>